@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282828;
}

body {
  background: var(--background);
  overflow-x: hidden;
}

.layout {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: clamp(20px, 3.5vw, 50px);
  padding-right: clamp(20px, 3.5vw, 50px);
}

.nav-top {
  padding: clamp(20px, 3.5vw, 50px);
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: clamp(48px, 13vw, 65px);
}

.outline-button {
  background: linear-gradient(90deg, #FFA800, #6490E7);
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}

.outline-button:hover {
  animation: gradient-rotate infinite;
  animation-duration: 5s;
  background: linear-gradient(calc(var(--a) + 90deg), #FFA800, #6490E7);
}

@keyframes gradient-rotate {
  from {
    --a: 0deg;
  }

  to {
    --a: 360deg;
  }
}

.yellow-circle {
  border-radius: min(33vw, 300px);
  width: min(33vw, 300px);
  height: min(33vw, 300px);
  bottom: 33vh;
  left: -10vw;
  filter: blur(max(33vw, 300px));
  background: rgba(255, 168, 0, 0.25);
  animation: upAndDown infinite;
  animation-duration: 20s;
}

@keyframes upAndDown {
  0% {
    transform: translate(0px, 0px)
  }
  50% {
    transform: translate(20vw, -30vh);
  }
  100% {
    transform: translateY(0px, 0px);
  }
}


@keyframes downAndUp {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-20vw, 30vh);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.blue-circle {
  border-radius: min(33vw, 300px);
  width: min(33vw, 300px);
  height: min(33vw, 300px);
  top: 33vh;
  right: -10vw;
  filter: blur(max(33vw, 300px));
  background: rgba(100, 144, 231, 0.5);
  animation: downAndUp infinite;
  animation-duration: 20s;
}

.errorChip {
  animation: floatUp;
  transform: translateX(-50%);
  animation-duration: 1s;
}

@keyframes floatUp {
  from {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}